@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;600;800&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
    background: url(../img/home/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    position: relative;
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

#header {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo>img {
    width: 106px;
    height: 32px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-right: 500px;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 21px;
}

/* /////////////////////////////// */

/* position: relative; */
#home {
    position: relative;
    padding-bottom: 200px;
}

.home-desc {
    width: 50%;
}

.home-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-top: 80px;
    padding-right: 55px;
}

.home-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-top: 35px;
    padding-right: 169px;
    padding-bottom: 35px;

}

.home-btn__group {
    display: flex;
    align-items: center;
}

.button {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #00A0C1;
    padding: 10px 36px;
    border: 1px solid #00A0C1;
    border-radius: 37px;
    margin-right: 15px;
}

.home-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: -290PX;
}

.card-item {
    width: 328px;
    height: 210px;
    padding: 48px 20px;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}

.card-item>img {
    width: 48px;
    height: 48px;
    padding-bottom: 10px;
}

.card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding-bottom: 10px;
}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-right: 50px;
}

.card-item.active {
    background-color: #00A0C1;
}

.card-item.active>.card-decs>.card-title {
    color: #fff;
}

.card-item.active>.card-decs>.card-text {
    color: #fff;
}

/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////////// */

.about {
    padding: 131px 0;
    background: #FAFAFA;
}

.about-row {
    align-items: center;
    flex-direction: column;
}

.about-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252B42;
    padding-top: 80px;
}

.about-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 10px 320px 50px 320px;
}

.about-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-card__box {
    width: 238px;
    height: 209px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFF;
}

.count {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding: 10px 88px;
}

.about-card__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}

/* ////////////////////////////////// */
/* ////////////////////////////////// */

#advice {
    background: #FAFAFA;
    padding-bottom: 80px;
}

.advice-row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advice-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252B42;
    /* padding-top: 80px; */
}

.advice-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 10px 320px 50px 320px;
}

.advice-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advice-card__decs {
    width: 238px;
    height: 341px;
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
}

.advice-card__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding: 30px 67px 15px 33px;
}

.advice-card__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 15px 40px 30px 30px;
}

.advice-card__media {
    width: 100%;
    height: 138px;
}

.advice-card__media>img {
    width: 100%;
    height: 100%;
}

/* ///////////////////////////////////////// */

#services {
    padding: 100px 0;
    background: #FFFF;
}

.services-row {
    align-items: center;
    flex-direction: column;
}

.services-head__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252B42;
    padding-top: 80px;
    padding: 10px 320px 15px 320px;
}

.services-head__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0px 320px 100px 320px;
}

.service-media {
    width: 50%;
    height: 100%;
}

.service-media>img {
    width: 600px;
    height: 442px;
}

.services-introduction {
    width: 50%;
    padding-left: 120px;
}

.services-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-right: 110px;
}

.services-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-top: 25px;
    padding-right: 110px;
    padding-bottom: 25px;
}

.services-list__group {
    width: 100%;
    height: 100%;
}

.services-list {
    position: relative;
}

.ser-list__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding: 25px 120px 5px 60px;
}

.ser-list__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    opacity: 0.7;
    padding-left: 60px;
}

.ser-img__one {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15%;
    left: 10px;
}

.ser-img__too {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 65%;
    left: 10px;
}

/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
#clients {
    padding-top: 100px;
    background-color: #FAFAFA;
}

.clients-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 138px;
}

.clients-row {
    width: 100%;
    height: 77px;
    background-color: #252B42;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.clients-card__item {
    width: 986px;
    margin: 0 auto;
    background-color: #16697AFF;
    border: 2px solid transparent;
    padding: 33px 40px 33px 50px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
}

.clients-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.input-group {
    width: 60%;
    height: 100%;
}

.input-group>input {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 15px 137px 15px 20px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
}

.input-group>button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 14px 23px;
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 26%;
    right: 40px;
}

/* ////////////////////////////////// */
/* ////////////////////////////////// */
#contact {
    padding: 131px 0;
    background: #FAFAFA;
}

.contact-row {
    align-items: center;
    flex-direction: column;
}

.contact-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252B42;
}

.contact-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 10px 320px 50px 320px;
}

.contact-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-item {
    width: 327px;
    height: 333px;
    padding: 50px 40px;
    background-color: #FFFFFF
}

.contact-item.active {
    width: 329px;
    height: 339px;
    padding: 50px 40px;
    background-color: #252B42;
}

.contact-item.active>.contact-card__box>.contact-card__text {
    color: #fff;
}

.contact-item.active>.contact-card__box>.contact-card__title {
    color: #fff;
}

.contact-card__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-card__box>img {
    width: 72px;
    height: 72px;
    margin-bottom: 15px;
}

.contact-card__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-left: 53px;
    padding-right: 53px;
}

.contact-card__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 15px 0;
}

.contact-support__btn {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFA62B;
    border: 1px solid #FFA62B;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;

}

.consulting-agensy {
    width: 100%;
    padding: 40px 20px;
    justify-content: space-between;
    background: #FFFF;
}
.agensy-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
}
.agensy-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
margin-top: 10px;
}
.agensy-contact{
    text-decoration: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
    background: #FFA62B;
border-radius: 5px;
padding: 15px 40px;
}
.footer{
    padding-top: 50px;
    background-color:#16697A;
}
.footer-top{
    width: 100%;
    padding-bottom: 50px;
justify-content: space-between;
}
.footer-list__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #FFFFFF;
padding-bottom: 20px;
}
.footer-link{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FFFFFF;
padding: 10px 0;
display: flex;
align-items: center;
}
.footer-link>.bx{
    font-size: 24px;
    color:#00A0C1;
    margin-right:10px;
}
.footer-end{
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    background-color:#fff;
}
.footer-end>.row{
width: 1200px;
padding: 0 20px;
margin:  0 auto;
justify-content: space-between;
}
.footer-end__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
}
.footer-media__link{
text-decoration: none;
}
.footer-media__link>.bx{
  font-size: 24px;
  margin-left: 20px;

}